* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header {
  background-color: white;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding-top: 50px;
}

header h1 {
  color: black;
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-bottom: 30px;
  transform: translate(-50%, -50%);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  color:black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav a:hover {
  border-bottom: 2px solid #fff;
  border: 1px solid black;
  
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
} */

/* header ends */

/* body starts */
body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

/* body ends */

/* center is for space between header and footer that cover quiz page */
.center {
  background: url('/Media/bg\ for\ quiz\ page.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}
/* footer starts */
.foo {
  position: relative;
  top: 200px;
}

.footer {
  background-color: black;
  padding: 70px 0;
}

.footer-col {
  width: 30%;
  padding: 10px 40px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* footer ends */



/* styling for questions html file */
html {
  background: #fff;
}

.quiz-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px;
  background-color: #8dd6c0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.question-container {
  margin-bottom: 30px;

}

h3 {
  margin-top: 0;
  font-size: 18px;
}

input[type=radio] {
  margin-right: 10px;
}

.submit-button {

  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: x-large;
}

.submit-button:hover {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  transform: translate(-5%, -5%);
  transition: all 0.8s ease-out;
}

.button {
  text-align: center;

}